@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgb(10, 10, 71);
  padding-left: 10%;
  padding-right: 10%;
  height: 100px;
}
.navbar img {
  width: 170px;
}
.navbar a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  color: rgb(226, 200, 51);
  text-decoration: underline;
}
.navbar ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.dropdown_menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 0;
  width: 360px;
  background-color: rgb(10, 10, 71);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 100vh;
}
.dropdown_menu a {
  font-size: 20px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  background-color: white;
}
.reno {
  background-image: url(images/property.png);
  background-size: cover;
  height: 900px;
}
.drone {
  background-image: url(images/drone-camera-tech-equipment.jpg);
  background-size: cover;
  height: 900px;
}
.drone-group {
  display: flex;
  align-items: end;
  height: 800px;
  padding-left: 200px;
}
.divider {
  background-color: rgb(226, 200, 51);
  width: 100%;
  height: 50px;
}
.reno-group {
  display: flex;
  align-items: center;
  height: 900px;
  padding-left: 90px;
}
.text-wrapper h1 {
  font-family: "Roboto", sans-serif;
  font-size: 85px;
  color: white;
  text-transform: uppercase;
  line-height: 85px;
}
.text-wrapper h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: rgb(226, 200, 51);
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  width: 38%;
}
.btn button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 15%;
  padding: 1.2%;
  margin-right: 10px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: rgb(10, 10, 71);
}
.reno-group button:hover {
  background-color: rgb(8, 8, 160);
}
.services {
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
.text {
  display: flex;
  justify-content: center;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: rgb(226, 200, 51);
  font-size: 40px;
  text-align: center;
  width: 20%;
  border-radius: 20px;
  margin-bottom: 2%;
}
h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 50px;
  color: rgb(10, 10, 71);
}
.boiler-inst p {
  font-weight: 500;
  line-height: 42px;
  font-size: 40px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  color: rgb(10, 10, 71);
}
.inst-img img {
  border-radius: 12px;
  width: 100%;
}
.boiler-ser p {
  line-height: 42px;
  font-size: 48px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  color: rgb(10, 10, 71);
}
.ser-img img {
  border-radius: 12px;
  width: 100%;
}
.contact {
  background-color: rgb(10, 10, 71);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  gap: 20%;
}
.contact div {
  margin-top: 50px;
  text-align: center;
}
.contact div h5 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 img {
  width: 270px;
  margin-top: 5%;
}
.col-2 a {
  font-family: "Roboto", sans-serif;
  display: block;
  text-decoration: none;
  color: rgb(226, 200, 51);
  margin-bottom: 20px;
}
.col-3 p {
  color: white;
  font-family: "Roboto", sans-serif;
}
.social-icons i {
  font-size: 25px;
  color: rgb(226, 200, 51);
  margin-right: 10px;
}

@media (max-width: 480px) {
  .navbar a {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
  }
  .dropdown_menu.open {
    height: 100vh;
  }
  .dropdown_menu a {
    color: white;
    text-decoration: none;
  }
  .reno {
    height: 600px;
  }
  .reno-group {
    padding-left: 10px;
    height: 600px;
  }
  .text-wrapper h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .text-wrapper h2 {
    font-size: 18px;
    line-height: 35px;
    width: 85%;
  }
  .btn button {
    width: 100%;
    padding: 5%;
  }
  .btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    margin: auto;
  }
  section .services {
    padding: 0;
    width: 100%;
  }
  .boiler-inst {
    padding: 0;
  }
  .boiler-inst p {
    width: 90%;
    margin: auto;
    font-size: 15px;
    padding: 0;
  }
  .inst-img img {
    border-radius: 0;
    height: 300px;
  }
  .boiler-ser p {
    width: 90%;
    margin: auto;
    font-size: 15px;
    padding: 0;
  }
  .ser-img img {
    border-radius: 0;
    height: 300px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 800px;
  }
  .contact div {
    margin-top: 20px;
  }
  form input {
    width: 80%;
  }
}
